@media (max-width: 1440px) {
    .advantage__section {
        width: 60%;
    }
}

@media (max-width: 1350px) {
    .stage .container {
        padding: 0 40px;
    }
    .worker__card.worker__card {
        width: 70%;
        margin-right: 0;
    }
    .workers__wrapper {
        justify-content: center;
        :nth-last-child(-n + 2) {
            margin-bottom: 24px;
        }
        :last-child {
            margin-bottom: 0;
        }
    }
    .social__item.social__item {
        margin-bottom: 0;
    }
    .advantage__decoration {
        padding: 0 100px 0 50px;
        text-align: start;
    }
}

@media (max-width: 1200px) {
    .clients__wrapper {
        flex-direction: column;
    }
    .clients__section_1,
    .clients__section_2 {
        width: 100%;
    }
    .clients__section_1 {
        padding: 0;
        margin-bottom: 40px;
        text-align: center;
    }
    .clients__section_2 {
        padding: 0 85px;
    }
    .board {
        width: auto;
    }
}

@media (max-width: 1024px) {
    .voting__section {
        flex-direction: column;
    }
    .voting__button {
        order: -1;
        margin-bottom: 50px;
    }
    .voting__card.voting__card {
        max-width: 100%;
    }
    .advantage__card.advantage__card {
        width: 45%;
    }
    .advantage__wrapper {
        background-size: 100%;
        background-image: url(../images/tractor-tablet.png);
    }
}

@media (max-width: 992px) {
    .about__section_1 {
        flex-direction: column;
        align-items: flex-start;
    }
    .about__image {
        margin-top: 56px;
        min-height: auto;
        height: 320px;
        width: 100%;
        min-width: auto;
        border-radius: 15px;
        background-image: url(../images/trailer-pulling_tablet.png);
    }
    .about__decoration {
        &::before {
            height: 100%;
            width: 180px;
        }
    }
    .about {
        position: static;
    }
}

@media (max-width: 860px) {
    .services__wrapper {
        flex-direction: column;
        :nth-child(2) {
            margin: 24px 0;
        }
    }
    .about__decoration {
        background-color: #0b7572;
        &::before {
            display: none;
        }
    }
    .services__card.services__card {
        border-right: none;
    }
    .advantage__wrapper {
        display: none;
    }
    .advantage__elements {
        flex-direction: column;
        :nth-child(3) {
            margin-bottom: 65px;
        }
    }
    .advantage__card.advantage__card {
        width: 100%;
    }
    .partners__wrapper {
        :nth-child(2n) {
            border-right: none;
        }
        :nth-child(5),
        :nth-child(6) {
            margin-bottom: 95px !important;
        }
    }
    .partners__item {
        text-align: center;
    }
    .partners__card.partners__card {
        width: 50%;
    }
    .worker__card.worker__card {
        width: 80%;
    }
    .contacts__wrapper {
        flex-direction: column;
    }
    .contacts__section_1 {
        margin: 0 0 72px 0;
    }
    .contacts__section_1,
    .contacts__section_2 {
        min-width: 100%;
    }
    .social {
        display: flex;
        flex-wrap: wrap;
    }
    .social__list {
        width: 50%;
    }
    .feedback__image {
        display: none;
    }
    .feedback__section_1 {
        width: 100%;
    }
    .feedback__section_2 {
        display: none;
    }
    .clients__section_2 {
        padding: 0 35px;
    }
    .clients__wrapper {
        padding: 65px 0;
    }
    .clients__title.clients__title {
        font-size: 40px !important;
    }
    .stage__item {
        flex-direction: column;
    }
    .stage__image.stage__image {
        margin: 0 0 30px 0;
    }
    .stage__title {
        text-align: center;
    }
    .stage__circle.stage__circle {
        width: 52px;
        height: 52px;
    }
    .table__row_1,
    .table__row_2 {
        display: none;
    }
    .table__row {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
        :last-child {
            border-bottom: none;
        }
    }
    .table__column {
        border-bottom: 1px solid #d7d7dd;
        padding: 10px 0;
    }
    .table__row-name {
        :not(:last-child) {
            display: none;
        }
    }
    .table__image.table__image {
        width: 90px;
        height: 90px;
    }
    .worker__card.worker__card {
        width: 100%;
        flex-direction: column;
        padding: 32px 30px 32px 100px;
    }
    .worker__image.worker__image {
        width: 100px;
        height: 100px;
        margin-right: 18px;
    }
    .form {
        overflow: hidden;
    }
    .feedback__section_1 {
        padding: 100px 25px;
    }
}

@media (max-width: 480px) {
    .about__image {
        width: 100%;
        min-width: auto;
        background-size: 100%;
        background-image: url(../images/trailer-pulling_mobile.png);
    }
    .board__requisites {
        display: none;
    }
    .board__information {
        border-bottom: none;
    }
    .clients__section_2 {
        padding: 0 35px;
    }
    .stage__image {
        display: none;
    }
    .stage__item.stage__item {
        padding: 24px 22px 32px 22px;
    }
    .stage__link {
        font-size: 15px;
    }
    .social {
        flex-direction: column;
    }
    .social__list {
        width: 100%;
    }
    .requisites__item.requisites__item {
        flex-direction: column;
        align-items: flex-start;
    }
    .gallary__images {
        flex-direction: column;
    }
    .social {
        flex-direction: row;
    }
    .swiper-slide.swiper-slide {
        display: flex;
        flex-direction: column;
    }
    .swiper-wrapper {
        :nth-child(2) {
            margin: 32px 0;
        }
    }
    .voting__card.voting__card {
        padding: 40px 55px 40px 70px;
        &:before {
            display: none;
        }
    }
    .swiper-container {
        padding-bottom: 40px;
    }
    .gallary {
        :nth-child(2) {
            margin-bottom: 20px;
        }
    }
    .partners__card.partners__card {
        width: 100%;
    }

    .portfolio__section {
        display: none;
    }
    .stage__circle.stage__circle {
        display: none;
    }
    .clients {
        // display: none;
        &::before {
            display: none;
        }
    }
    .partners {
        // display: none;
    }
    .workers {
        // display: none;
    }
    .contacts {
        // display: none;
    }
    .feedback {
        // display: none;
    }
}
