@import "/reset";
@import "/vars";
@import "/media";
@import "/fonts";

a {
    color: #363738;
}

body {
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.4;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.title {
    font-weight: 600;
    font-size: 20px;
    color: #363738;
    line-height: 27px;
}
.subtitle {
    font-weight: 400;
    font-size: 16px;
    color: #6b6b6c;
    line-height: 24px;
    margin: 40px 0;
}


